.Recipes__list {
    padding: 0;
}

.Recipes__list__listItem {
    border: 10px solid #c2eea0;
    border-radius: 10px;
    background-color: white;
    color: var(--main-text-color);
    display: block;
    margin-bottom: 20px;
    padding: 9px;
}
.Recipes__list__listItem a {
    text-decoration: none;
}
.Recipes__list__listItem__name {
    color: var(--main-text-color);
}
.Recipes__list__listItem__desc {
    font-style: italic;
    color: black;
}

.Recipes__list__listItem__image {
    width: 100%;
}