.Recipe__button {
  background-color: #f3d078; /* Green */
  border-radius: 12px;
  padding: 6px 15px;
  border-color: white;
  text-align: center;
}
.Recipe__image {
  border: 10px solid #c2eea0;
  border-radius: 10px;
  display: block;
  padding: 9px;
  max-width: 100%;
}
