.Nav {
    border-bottom: 1px solid var(--nav-border-color);
    display: flex;
    height: 50px;
    position: fixed;
    top: 0px;
    width: 100%;
}

.Nav--scrolling {
    background-color: var(--nav-background-color);
    -moz-transition: all .3s ease-in;
    /* WebKit */
    -webkit-transition: all .3s ease-in;
    /* Opera */
    -o-transition: all .3s ease-in;
    /* Standard */
    transition: all .3s ease-in;
}

.Nav__brand {
    color: var(--main-text-color);
    font-weight: 300;
    padding: 0 20px;
    width: 50%;
    font-size: 16pt;
    margin-top: 12px;
    text-decoration: none;
}

.Nav__links {
    padding: 0 20px;
    text-align: right;
    width: 50%;
}

.Nav__links__link {
    display: inline-block;
    padding: 0 5px;
}
.Nav__links__link a {
    color: var(--nav-link-color);
    text-decoration: none;
}
.Nav__links__link a:hover,
.Nav__links__link a:focus {
    color: var(--nav-link-color-hover);
    text-decoration: underline;
}

